venv/
env/
.vscode/
draft.ipynb
.ipynb_checkpoints
__pycache__/
*.log
.pytest_cache/
dev.sh
.git
.gitignore
.gitlab-ci.yml
.gitattributes
charts
deploy-chart.sh
build_launch_docker.sh
.dockerignore
docker-compose.yml
README.md
.idea/
